// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// background
$background-header-left: #2ab5d3;
$background-header-right: #57cfb0;
$background-header-gradient: linear-gradient(-45deg,$background-header-right,$background-header-left);
$background-header: #2ab5d3;
$background-body: #ecfcff;
$background-footer: #596668;
$background-light: #fff;

// border
$border-color-light: #dee2e6;

// font 
$font-color-light: #fff;
$font-color-bright: $background-header;
$font-color-link: $background-header;
$font-color-default: #111;
$font-color-title-secondary: #424242;



// other
$strava-color: #f23f35;
$header-height: 80px;


%bg-header {
	background: $background-header;
	background: $background-header-gradient;
}