// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// color palette
$color-bg-base: #E6F4F1;
$color-main: #2ab5d3;
$color-main2: #57cfb0;
$color-bright: #d3482a;
$color-dark: #596668;


// background
$background-header-left: $color-main;
$background-header-right: $color-main2;
$background-header-gradient: linear-gradient(-45deg,$background-header-right,$background-header-left);
$background-header: $color-main;
$background-body: $color-bg-base;
$background-footer: $color-dark;
$background-light: #fff;

// border
$border-color-light: #dee2e6;

// font 
$font-color-light: #fff;
$font-color-bright: #91341D;
$font-color-link: #91341D;
$font-color-default: #00344E;
$font-color-title-secondary: #424242;
$font-color-highlight: #ffda77;



// other
$strava-color: #d3482a;
$header-height: 80px;
$logo-image-size: 80px;
$mobile-header-decrease: 20px;
$default-box-shadow: 0 15px 10px -15px #999;

%bg-header {
	background: $background-header;
	background: $background-header-gradient;
}

$footer-link-count: 5;
$footer-link-height: 4rem;