// Variables
@import 'variables';


html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: $background-light;
}
a {
	color: $font-color-link; 
	text-decoration: auto;
}
a:hover{
	color: $background-dark;
}

.btn-primary {
	background-color: $background-dark;
	border-color: $background-dark;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
.header {
	background-color: $background-dark;
}
.header a {
	color: $font-color-bright;
}
a.navbar-brand{
	font-size: 3rem;
}
#right-header {
	float: right;
	font-size: 1.5rem;
    padding: 1rem;
}

.user-avatar {
	border-radius: 50%;
	max-height: 2rem;
}
#footer-links {
	list-style: none;
	display: flex;
	font-size: 1rem;
}
#footer-links > li {
	padding-right: 2rem;
}

#auth-link-place {
	padding-top: 10%;
}
.font-color-strava {
	color: $strava-color;
}
.login-strava-btn {
	border: 1px solid $background-dark;
	font-size: 1.5rem;
}
#right-header .fas {
	padding-right: 0.5rem;
}
.dropdown ul.dropdown-menu {
	background-color: $background-dark;
}
#userMenu {
	color: $font-color-bright;
	outline: none;
	border: 0;
}
#userMenu:focus {
	outline: none;
	border: 0;
}