// Variables
@import 'variables';


html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 12rem;
}
html,body {
	 background-color: $background-body;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 60px; /* Vertically center the text there */
  background-color: $background-footer;
}
a {
	color: $font-color-link; 
	text-decoration: auto;
}
a:hover{
	color: $background-footer;
}

.btn-primary {
	background-color: $background-header;
	border-color: $background-header;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  background-color: $background-footer; 
}
.header {
	@extend %bg-header;
}
.header a {
	color: $font-color-light;
}
a.navbar-brand{
	font-size: 3rem;
}
#right-header {
	float: right;
	font-size: 1.5rem;
}
#right-header #userMenu{
	padding: 1rem;
	margin-top: 8px;
}
.user-avatar {
	border-radius: 50%;
	max-height: 2rem;
}
#footer-links {
	list-style: none;
	display: flex;
	font-size: 1rem;
}
#footer-links > li {
	padding-right: 2rem;
}
#footer-links a {
	color: $font-color-light;
}

#auth-link-place {
	padding-top: 10%;
}
.font-color-strava {
	color: $strava-color;
}
.login-strava-btn {
	border: 1px solid $strava-color;
	font-size: 1.5rem;
}
#right-header {
	background: rgba(255,255,255,.3);
}
#right-header-login-link {
	display: block;
	padding: 1rem;
}
#right-header .fas {
	padding-right: 0.5rem;
}
.dropdown ul.dropdown-menu {
	background-color: $background-header-right;
}
#userMenu {
	color: $font-color-light;
	outline: none;
	border: 0;
}
#userMenu:focus {
	outline: none;
	border: 0;
}
#right-header a.dropdown-item {
	line-height: 2.5rem;
}
.page-item > .page-link {
	border-color: $border-color-light;
	color: $background-light;
}
.page-item.active > .page-link{
	background-color: $background-header;
}
.alert-warning a {
	color: black;
	font-size: 1.5rem;
}
#scroll-top-button {
    display: none;
    background-color: $background-header-right;
    cursor: pointer;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 4px;
    margin: 30px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s;
    z-index: 1000;
    color: #fff;
}
#scroll-top-button>i {
    font-size: 3rem;
    line-height: 60px;
}
.link-secondary {
	color: $background-footer;
}

/* info block */
.info-block {
	background-color: $background-light;
	padding: 1rem;
	border: 1px solid #ddd;
  border-radius: 10px;
}
.info-block-body {
		display: flex;
		flex-wrap: wrap;
}
.info-block-body > .card {
		margin: 1rem;
		padding: 1rem;
}
.info-block-footer {
		padding: 1rem;
}

/* sight */
img.sight-image {
	max-width: 100%;
	min-width: 100%;
	width: auto;
	padding-bottom: 1rem;
}


/* card */
div.card {
		box-shadow: 0 15px 10px -15px rgb(0 0 0 / 30%);
}



@media screen and (max-width: 767px) {
	ul#footer-links {
  	flex-direction: column;
	}
}


