@charset "UTF-8";
#header {
  background: #2ab5d3;
  background: linear-gradient(-45deg, #57cfb0, #2ab5d3);
}

@font-face {
  font-family: "logo";
  src: url("/fonts/Pamela want a Bike to Ride.ttf");
}
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 5rem;
  color: #00344E;
}

html, body {
  background-color: #E6F4F1;
}

.hidden {
  display: none;
}

#banner-bg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("/images/welcome-image-winter.jpg");
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  z-index: 20;
  text-align: center;
}

#banner-bg {
  height: 100vh;
  overflow: hidden;
}

#banner-space {
  height: calc(100vh - 80px);
}

#banner-bg #banner-layout {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  /*    background: linear-gradient(
      		$background-header calc(80px/2),
      		rgba(255,255,255,0) calc(80px*2)
      );
  */
  background: linear-gradient(rgba(42, 181, 211, 0.4) calc(80px/2), rgba(0, 0, 0, 0.4) calc(80px*2));
}

.tox-notifications-container, .tox-statusbar {
  display: none !important;
}

.changed-input {
  background-color: #f1f1b5 !important;
}

#banner-bg span {
  color: #fff;
}

#banner-bg #main-title {
  position: relative;
  top: 20vh;
  padding-top: 2rem;
  text-align: center;
}

#banner-bg * {
  text-shadow: #212529 1px 1px 5px;
}

#banner-bg #main-title-text {
  font-size: 10vw;
  letter-spacing: 0.5em;
  text-transform: uppercase;
}

#banner-bg #title-2 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: calc(1rem - -0.5vw);
  z-index: 2;
  color: #fff;
}

#banner-bg #title-3 {
  position: absolute;
  top: 1.5rem;
  font-size: calc(1rem - -1vw);
}

#login-page {
  position: relative;
  text-align: center;
}

.welcome-page-dop-info {
  color: #fff;
  margin: 0 auto;
  max-width: 35rem;
  padding-top: 1rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 4rem;
  background-color: #596668;
}

input[type=checkbox] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(2);
  /* IE */
  -moz-transform: scale(2);
  /* FF */
  -webkit-transform: scale(2);
  /* Safari and Chrome */
  -o-transform: scale(2);
  /* Opera */
  transform: scale(2);
  padding: 10px;
}

.admin-item {
  background-color: #b7808659;
}

a {
  color: #91341D;
  text-decoration: auto;
}

.card-title a, .card-body a:not(.link-secondary) {
  margin-bottom: 1rem;
}

.card a:not(.link-secondary), .list-group a:not(.link-secondary) {
  font-size: 1.1rem;
}

a:hover {
  color: #d3482a;
}

.text-highlight {
  color: #ffda77 !important;
}

table {
  background-color: #fff;
}

.btn-primary {
  background-color: #2ab5d3;
  border-color: #2ab5d3;
}

.title-main {
  padding: 1rem 0;
}

.title-secondary {
  color: #424242;
  padding: 0.5rem 0;
}

.page-title {
  padding-bottom: 1rem;
  display: flex;
}

img.in-container {
  max-width: 100%;
  max-height: 100%;
}

.sihgt-title {
  font-size: 2rem;
}

.sight-buttons {
  padding: 2rem 0;
  max-width: 30rem;
  align-items: stretch;
}

.sight-buttons a, .sight-buttons button {
  width: 100%;
}

#desktop-map {
  height: 400px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#mobile-map {
  height: 500px;
  margin-bottom: 1rem;
}

#map-preview #desktop-map, #map-preview #mobile-map {
  display: none;
}

#map-preview {
  padding-bottom: 1rem;
}

ul.pagination {
  padding: 1rem 0;
}

#toggle-mobile-filters {
  line-height: 2.5rem;
  padding-left: 25px;
}

.filter-block-title {
  font-size: 1.5rem;
}

#filter-block hr {
  margin: 1rem 0;
}

ul.folding * {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.bold {
  font-weight: bold;
}

.caret {
  cursor: pointer;
  user-select: none;
}

.caret::before {
  color: black;
  display: inline-block;
}

li.active > .caret {
  transform: rotate(180deg);
}

li.active > ul.nested.folding {
  display: block;
}

ul.folding.nested {
  display: none;
  margin-left: 15px;
}

.enabled-filter {
  display: inline;
  line-height: 3rem;
  border-radius: 10rem;
  border: 1px solid #d3482a;
  margin-right: 1rem;
  padding: 5px 10px;
  background: #fff;
  white-space: nowrap;
}

#search-container {
  position: relative;
  padding: 5px;
}

#search-container .fa-search {
  position: absolute;
  top: 15px;
  left: 13px;
}

#search-container input#search-input {
  padding-left: 35px;
  background-color: #E6F4F1;
  border: 0;
  height: auto;
  border: 1px solid #dee2e6;
}

#search-container input#search-input:focus {
  box-shadow: none;
}

img.marker-preview {
  max-width: 100%;
  max-height: 100%;
}

.v-center {
  vertical-align: middle;
}

#route-edit-form .form-group {
  margin-bottom: 1rem;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
#map {
  height: 40vh;
  margin-bottom: 1rem;
}

#map, #desktop-map, #mobile-map {
  z-index: 1;
}

body > .container {
  padding: 1rem;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  background-color: #596668;
}

#header {
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 10;
}

#header-logo-image {
  height: 80px;
  width: 80px;
  position: absolute;
  bottom: 0;
  left: -1rem;
}

#header-logo-text {
  position: absolute;
  left: calc(80px - 1rem);
  bottom: -10px;
}

#header a {
  color: #fff;
}

#header-container {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

a.navbar-brand {
  font-size: 5rem;
  font-family: "logo";
  line-height: 4rem;
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: -0.5rem;
  margin-left: -1.5rem;
}

#right-header {
  float: right;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

#right-header .user-avatar {
  margin-right: 0.5rem;
  margin-bottom: 0.1rem;
}

.user-avatar {
  border-radius: 50%;
  max-height: 3rem;
  max-width: 3rem;
  padding: 0;
}

.user-avatar-large {
  border-radius: 50%;
  max-height: 6rem;
  max-width: 6rem;
  padding: 0;
}

.card .user-avatar {
  max-height: 6rem;
  max-width: 6rem;
  margin: 0 0 1rem 0;
}

.sight-card, .card-body {
  position: relative;
}

.sight-card img {
  max-height: 20rem;
  min-height: 10rem;
  border: 1px solid lightgray;
}

.user-card .card-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-card .card-body {
  line-height: 2rem;
}

#footer-links {
  list-style: none;
  display: flex;
  font-size: 1rem;
}

#footer-links > li {
  padding-right: 2rem;
}

#footer-links a {
  color: #fff;
}

#auth-link-place {
  padding-top: 5%;
  margin-bottom: 10%;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}

#auth-link-container {
  position: relative;
  display: inline;
}

.font-color-strava {
  color: #d3482a !important;
}

.bg-dim {
  background: rgba(0, 0, 0, 0.4);
}

a.font-color-strava {
  font-size: small;
}

.login-strava-btn {
  border: 2px solid #FFFFFF;
  font: 700 18px/30px expressway, sans-serif;
  color: #fff;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: inline-block;
  padding: 5px 20px;
}

ul#login-btn-dop-info {
  position: absolute;
  left: 0;
  top: 2rem;
  list-style-type: disclosure-closed;
  margin-right: -10rem;
  text-align: left;
  padding-left: 1.3rem;
  padding-top: 1rem;
}

#right-header {
  background: rgba(255, 255, 255, 0.3);
}

#right-header * {
  font-size: 1.2rem;
}

#right-header .badge {
  background-color: #d3482a;
  font-size: 0.9rem;
}

#right-header ul.dropdown-menu {
  background-color: #57cfb0;
  padding: 0;
}

#right-header .dropdown-menu > li {
  background: rgba(255, 255, 255, 0.3);
}

#right-header .dropdown-menu .dropdown-item:hover {
  background-color: #57cfb0;
}

#right-header-login-link {
  display: block;
  padding: 1rem;
}

#right-header .fas {
  padding-right: 0.5rem;
}

.dropdown ul.dropdown-menu {
  background-color: #57cfb0;
}

.ui-autocomplete {
  background: #fff;
  list-style-type: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  border: 1px solid #dee2e6;
  box-shadow: 0 15px 10px -15px #999;
}

.ui-menu .ui-menu-item {
  padding: 0.5rem;
  cursor: pointer;
}

.ui-helper-hidden-accessible, ui-helper-hidden {
  display: none;
}

#user-menu-list {
  list-style-type: none;
  right: 0;
}

#userMenu {
  color: #fff;
  outline: none;
  border: 0;
}

#userMenu:focus {
  outline: none;
  border: 0;
}

#right-header a.dropdown-item {
  line-height: 2.5rem;
}

.page-item > .page-link {
  border-color: #dee2e6;
  color: #fff;
  background-color: #596668;
}

.page-item.active > .page-link {
  background-color: #2ab5d3;
}

.alert-warning a {
  color: black;
  font-size: 1.5rem;
}

#scroll-top-button {
  display: none;
  background-color: #57cfb0;
  cursor: pointer;
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 4px;
  margin: 30px;
  position: fixed;
  bottom: 30px;
  right: 0;
  transition: background-color 0.3s;
  z-index: 1000;
  color: #fff;
}

#scroll-top-button > i {
  font-size: 3rem;
  line-height: 60px;
}

#scroll-top-button:hover {
  background-color: #d3482a;
}

.link-secondary {
  color: #596668;
}

.area-image {
  width: 100%;
  height: auto;
  max-width: 100%;
}

/* info block */
.info-block {
  background-color: #fff;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.info-block-body {
  display: flex;
  flex-wrap: wrap;
}

.info-block-footer {
  padding: 1rem;
  display: flex;
  align-items: center;
}

.badge {
  border-radius: 10rem;
  background-color: #2ab5d3;
}

.right-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
}

.user-stats {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
}

.user-stat-container {
  display: flex;
  text-align: center;
}

.user-stat-container .stats-value, .user-stat-container .stats-icon {
  font-size: 2rem;
}

.user-stat-container .stats-icon {
  color: #d3482a;
}

/* sight */
img.sight-image {
  max-width: 100%;
  min-width: 100%;
  width: auto;
}

.license-text {
  text-align: right;
  font-size: smaller;
}

.license-small {
  font-size: x-small;
}

.sight-buttons > .col {
  margin-bottom: 1rem;
}

/* scroll prompt main login page */
#scroll-prompt {
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  rotate: 45deg;
  left: calc(50vw - 1rem);
  bottom: 4rem;
  animation: ca3_fade_move_down 3s ease-in-out infinite;
}

@keyframes ca3_fade_move_down {
  0% {
    transform: translate(-1rem, -1rem);
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    transform: translate(1rem, 1rem);
    opacity: 0;
  }
}
.breadcrumb {
  margin: 0 !important;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "▸" !important;
}

#list-loading-text {
  display: none;
  font-size: larger;
}

/* card */
div.card {
  box-shadow: 0 15px 10px -15px #999;
  padding: 1rem;
  margin: 0.5rem;
  height: 95%;
}

div.card-container {
  width: 25%;
}

/* activity */
.activity-link-user-img {
  padding-right: 1rem;
  display: flex;
  align-items: center;
  min-width: 4rem;
}

#activities-count-badge {
  display: flex;
  margin: 5px 0;
}

#activities-count-badge > a {
  font-size: larger;
}

#activities-count-badge > a:hover {
  color: #fff;
}

.ac-badge-rectangle {
  color: #fff;
  font-size: 1.1rem;
  background-color: #d3482a;
  border-color: #d3482a;
  display: flex;
  padding-left: 0.5rem;
}

.ac-badge-triangle {
  width: 0;
  height: 0;
  border-right: 15px solid transparent;
  border-top: 2rem solid;
  color: #d3482a;
  padding-left: 0.5rem;
}

.act-list-main-img {
  position: relative;
}

.act-list-main-img > img {
  width: 100%;
}

.act-list-user-img > img {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  border: 3px #E6F4F1 solid;
  max-width: 50%;
}

.activities-header-info {
  display: flex;
  justify-content: end;
  flex-direction: column;
}

/* route */
.add-sight-to-route-button > .btn-info {
  position: absolute;
}

.add-sight-to-route-button a {
  color: white;
}

.add-sight-to-route-button > a:focus {
  border: 0 !important;
  box-shadow: none !important;
}

.add-sight-to-route-button-message {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  display: none;
}

#route-list-edit {
  padding: 1rem 0;
}

.route-logo-image {
  width: 100%;
  height: auto;
}

/* route-card */
.route-card .route-logo-image {
  display: block;
  margin: 0 auto;
}

.route-card .route-title {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.list-group {
  margin-bottom: 1rem;
}

.list-group img {
  max-width: 100%;
}

.list-group .list-group-item {
  display: flex;
}

.list-group .remove {
  position: absolute;
  right: 1rem;
  top: 0;
  color: red;
  font-size: 1.2rem;
}

.list-group .image {
  width: 15%;
  display: inline;
  float: left;
}

.list-group .name {
  display: inline;
  padding: 0 1rem;
}

.route-map-image, #route-description img, #sight-description img {
  max-width: 100%;
  height: auto;
  width: auto;
}

.route-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 1rem 0;
}

/* comments */
.add-comment-form {
  padding: 0 0 1rem 0;
}

.add-comment-form .post-comment {
  margin-top: 1rem;
}

#comments-list {
  flex-direction: column;
}

.comment-link-user-img {
  padding-right: 1rem;
  display: flex;
  align-items: center;
}

.comment {
  padding: 1.5rem 1rem 0.5rem;
}

.comment > .comment {
  padding-left: 1rem;
}

#add-comment-form-sample {
  display: none;
}

.comment .user-avatar {
  max-height: 2rem;
  max-width: 2rem;
}

.jquery-modal {
  z-index: 10 !important;
}

.modal {
  overflow: visible;
  height: auto;
  box-shadow: 0 15px 10px -15px #999 !important;
}

.blocker {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.login-form .modal-footer {
  justify-content: center;
}

.login-form .login-strava-btn {
  border: 2px solid #dee2e6;
  color: #d3482a;
  margin: 3rem 2rem 1rem 2rem;
  display: block;
}

/* notifications */
#header-avatar-container {
  position: relative;
  display: inline-block;
}

#user-notification-badge {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #d3482a !important;
}

#my-route-count {
  background-color: #2ab5d3 !important;
}

.highlight {
  background-color: #ffda77;
}

@media screen and (min-width: 992px) {
  .mobile {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  div.card-container {
    width: 33.333333%;
  }

  .top-users .card-container:last-child,
.top-sights .card-container:last-child {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  div.card-container {
    width: 50%;
  }

  .desktop {
    display: none;
  }

  .top-users .card-container:last-child,
.top-sights .card-container:last-child {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  ul#footer-links {
    flex-direction: column;
  }

  body {
    margin-bottom: 22rem;
  }

  ul.pagination > li:nth-child(6),
ul.pagination > li:nth-child(7),
ul.pagination > li:nth-child(8),
ul.pagination > li:nth-child(9),
ul.pagination > li:nth-child(10),
ul.pagination > li:nth-child(11) {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  div.card-container {
    width: 100%;
  }

  #header {
    height: calc(80px - 20px);
  }

  #header-container {
    padding: 0;
    height: calc(80px - 20px);
  }

  a.navbar-brand {
    font-size: 3.3rem;
    margin: 0;
  }

  #right-header * {
    font-size: 1rem;
  }

  #banner-bg #title-3 {
    font-size: 1rem;
  }

  #login-btn-dop-info, #title-3, #title-2 {
    font-size: smaller !important;
  }

  #header-logo-image {
    height: calc(80px - 20px);
    width: calc(80px - 20px);
    left: 0;
  }

  #header-logo-text {
    bottom: -10px;
  }

  .modal {
    padding: 0 !important;
  }

  .login-form .login-strava-btn {
    margin: 1rem 0;
  }

  .breadcrumb {
    flex-direction: column;
  }
}

/*# sourceMappingURL=app.css.map */
